<h1>{{movieDetailController.movie.title}}</h1>

<button ui-sref="movies"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
<p>
<div class="row">
	
	 <div class="col-lg-3">
		<img ng-src="{{movieDetailController.movie.image}}" style="height:320px">
	 </div>
	 <div class="col-lg-6">
		<b>{{movieDetailController.movie.year}}</b> | {{movieDetailController.movie.genres | commaSeparated}}<br>
		<rating value="movieDetailController.movie.rating" max="10"></rating>&nbsp;<b>{{movieDetailController.movie.rating}}</b>/10
		<p>
		{{movieDetailController.movie.plot}}
	 </div>
	 
</div>