<li class="dropdown" ng-show="{{ctrl.user}}">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user" aria-hidden="true"></i> {{ctrl.user.name}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Account settings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" ng-click="ctrl.logout()">Logout</a></li>
    </ul>
</li>
<li ng-show="{{!ctrl.user}}">
    <a href="#">
        <i class="fa fa-user" aria-hidden="true"></i> Sign Up
    </a>
</li>
<li ng-show="{{!ctrl.user}}">
    <a href="#" ng-click="ctrl.login()">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
    </a>
</li>
<li>
    <a href="#">
        USER: {{ctrl.user}}. {{ctrl.user!=null}}
    </a>
</li>