<div id="title" class="wallpaper">
    <div class="container">
        <div class="jumbotron">
            <h1>{{ctrl.title}}</h1>
            <h3>{{ctrl.message}}</h3>
        </div>
    </div>
</div>

<div class="container">
    <p>
    <ul ng-repeat="item in applicationController.data">
        <li>
            <b>{{item.title}}</b><br>
            {{item.description}}
        </li>
    </ul>
    <p>
    <div ng-show="!ctrl.getUserContext().getUser()">
        <h1>Welcome</h1>
        please use the menu action to login.
    </div>
    <div ng-show="ctrl.getUserContext().getUser()">
        <h1>Hello {{ctrl.getUserContext().getUser().name}}</h1>
        nice to have you back!
    </div>
</div>